ul[role="nav"] {
  display: block;
  float: right;
  margin: 0;
}

ul[role="nav"] li {
  float:left;
  list-style: none;
  padding: 10px;
}

ul[role="nav"] li a {
  background-color: #ED4771;
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
  padding: 8px 16px;
  text-decoration: none;
}

img.list-icon {
  width: 35px;
  height: 35px;
  padding: 6px;
  border-radius: 100%;
}

.status-missed .list-icon {
  background: red;
}

.status-done .list-icon {
  background: #4dbdb7;
}

.status-later .list-icon {
  background: #e8d22c;
}

.task-summary {
  height: 300px;
  width: 300px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.task-summary span {
  display: block;
}

.task-summary span, img {
  margin-top: 5px;
}

.task-summary img {
  height: 80px;
  width: 80px;
}

.task-summary p {
  border: 5px solid pink;
  background: #Eb2e5e;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  z-index: -1;
  padding-top: 25px;
  font-size: 14pt;
}

@media only screen and (max-width: 875px) {
  ul[role="nav"] {
    float: none;
  } 
  ul[role="nav"] li {
    float: none;
    margin: 10px;
    text-align: center;
   }
  ul[role="nav"] li a {
    width: 100%;
  }
}
ul
{
	list-style:none;
	font-size: 1.25em;
    font-weight: normal;
	color: white;
}
a
{
	color:white;
	text-decoration:none;
	list-style:none;
}
li.active a
{
	background-color:yellow;
}
.button a:hover
{
	background-color:#Eb2e5e;
}
.done-true
{
	background-image: url("../../www/prompto/img/icon_tick");
}
.login
{
	margin:0 auto;
	width:400px;
	padding:10px;

}
.login label
{
	display:block;
	width:30%;
	float:left;
}
.login input
{
	display:block;
}
.login 
{
    border-radius: 100%;
}

.web-wrapper #app
{
  margin-top: 1em;
}
